@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.ComponentModel.DataAnnotations
@using App.Domain.Core.Enum
@model App.EndPoint.Razor.ACH.Areas.Customer.Pages.Req.RequestModel
@{
	ViewData["Title"] = "مدیریت پیشنهادها";
	Layout = "_LayoutCustomer";
}


<!-- Single Listing Item -->
@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div>
}
@if (TempData["Success"] != null)
{
	<div class="alert alert-success">
		@TempData["Success"]
	</div>
}

@foreach (var item in Model.Request)
{
	<div class="container dsd-single-listing-wraps">
		<div class="row dsd-single-lst-caption">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<p class="card-text"><strong>تاریخ انجام: </strong>@item.DoneTime</p>
						<p class="card-text"><strong>وضعیت: </strong>@DisplayEnum(item.Status)</p>
						<p class="card-text"><strong>هزینه درخواست: </strong>@item.BasePrice تومان</p>
						<p class="card-text"><strong>توضیحات: </strong>@item.Description</p>

						<form method="post" asp-page-handler="DeleteRequest" asp-route-id="@item.Id">
							<button type="submit" class="btn btn-danger">حذف درخواست</button>
						</form>


						<button class="btn btn-primary me-1" type="button" data-bs-toggle="collapse" data-bs-target="#@("collapse-" + item.Id)" aria-expanded="false" aria-controls="@("collapse-" + item.Id)">
							لیست پیشنهادات
						</button>
						<div class="collapse" id="@("collapse-" + item.Id)">
							<div class="d-grid d-sm-flex p-3 border">
								@if (item.Suggestions == null || item.Suggestions.Count == 0)
								{
									<span class="lh-2">
										هنوز پیشنهادی برای درخواست شما ارسال نشده
									</span>
								}
								else
								{
									<table class="table">
										<thead class="table-dark">
											<tr>
												<th>نام متخصص</th>
												<th>قیمت پیشنهادی</th>
												<th>تاریخ پیشنهادی</th>
												<th>وضعیت</th>
												<th>عمل‌ها</th>
											</tr>
										</thead>
										<tbody class="table-border-bottom-0">
											@foreach (var sug in item.Suggestions)
											{
												<tr>
													<td>@sug.Expert.ApplicationUser.Email </td>
													<td>@sug.Amount</td>
													<td>@DisplayEnum(sug.Status)</td>
													<td>
														@if (sug.Status == App.Domain.Core.Enum.SuggestionStatusEnum.AwaitingReview)
														{
															<form method="post" asp-page-handler="AcceptRequest" asp-route-id="@item.Id" asp-route-expertId="@sug.ExpertId">
																<button type="submit" class="btn btn-success">تایید متخصص</button>
															</form>
														}
														else
														{


															<form method="post" asp-page-handler="CancellRequest" asp-route-id="@item.Id" asp-route-expertId="@sug.ExpertId">
																<button type="submit" class="btn btn-danger">کنسل کردن درخواست</button>
															</form>

														}

													</td>
												</tr>
											}
										</tbody>
									</table>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@functions {
	public string DisplayEnum(Enum enumValue)
	{
		var field = enumValue.GetType().GetField(enumValue.ToString());
		var attribute = (DisplayAttribute)field.GetCustomAttributes(typeof(DisplayAttribute), false).FirstOrDefault();

		return attribute?.GetName() ?? enumValue.ToString();
	}
}

