@page
@model App.EndPoint.Razor.ACH.Admin.Pages.Users.AdminUpModel
@{
    ViewData["Title"] = "‌ صفحه بروز رسانی کاربران آچ آچ ";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}


<h2>@ViewData["Title"]</h2>

<form method="post" enctype="multipart/form-data" asp-page-handler="Update">
    <h3>به‌روزرسانی اطلاعات ادمین</h3>
    <input type="hidden" asp-for="UpAdmin.Id" />

    <div class="form-group">
        <label asp-for="UpAdmin.FirstName" class="control-label"></label>
        <input asp-for="UpAdmin.FirstName" class="form-control" value="@Model.UpAdmin?.FirstName" />
        <span asp-validation-for="UpAdmin.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UpAdmin.LastName" class="control-label"></label>
        <input asp-for="UpAdmin.LastName" class="form-control" value="@Model.UpAdmin?.LastName" />
        <span asp-validation-for="UpAdmin.LastName" class="text-danger"></span>
    </div>

   @*  <div class="form-group">
        <label asp-for="UpAdmin.UserName" class="control-label"></label>
        <input asp-for="UpAdmin.UserName" class="form-control" value="@Model.UpAdmin?.UserName" />
        <span asp-validation-for="UpAdmin.UserName" class="text-danger"></span>
    </div> *@

    <div class="form-group">
        <label asp-for="UpAdmin.Email" class="control-label"></label>
        <input asp-for="UpAdmin.Email" class="form-control" value="@Model.UpAdmin?.Email" />
        <span asp-validation-for="UpAdmin.Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UpAdmin.ImagePath" class="form-label fw-semibold">عکس</label>
        <input type="file" asp-for="UpAdmin.ImagePath" class="form-control">
        <span asp-validation-for="UpAdmin.ImagePath" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UpAdmin.PhoneNumber" class="control-label"></label>
        <input asp-for="UpAdmin.PhoneNumber" class="form-control" value="@Model.UpAdmin?.PhoneNumber" />
        <span asp-validation-for="UpAdmin.PhoneNumber" class="text-danger"></span>
    </div>

  @*   <div class="form-group">
        <label asp-for="UpAdmin.Wallet" class="control-label"></label>
        <input asp-for="UpAdmin.Wallet" class="form-control" value="@Model.UpAdmin?.Wallet" />
        <span asp-validation-for="UpAdmin.Wallet" class="text-danger"></span>
    </div> *@

    <button type="submit" class="btn btn-primary">ذخیره</button>
</form>
