@page
@model App.EndPoint.Razor.ACH.Admin.Pages.Users.IndexModel
@{
	ViewData["Title"] = "آچار > مدیریت کاربران > لیست کاربران";
}

@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div>
}
@if (TempData["Success"] != null)
{
	<div class="alert alert-success">
		@TempData["Success"]
	</div>
}


<div class="col-lg-12">
	<div class="portlet box shadow">
		<div class="portlet-heading">
			<div class="portlet-title">
				<h3 class="title">
					کاربران
				</h3>
			</div>
		</div>
		<div class="portlet-body">
			<div class="top-buttons-box mb-2">
				<a class="btn btn-success" asp-page="Create">
					<i class="icon-plus"></i>
					افزودن کاربر
					<div class="paper-ripple">
						<div class="paper-ripple__background"></div>
						<div class="paper-ripple__waves"></div>
					</div>
				</a>
				<a class="btn btn-success" asp-page="CreateAdmin">
					<i class="icon-plus"></i>
					افزودن مدیر
					<div class="paper-ripple">
						<div class="paper-ripple__background"></div>
						<div class="paper-ripple__waves"></div>
					</div>
				</a>
			</div>

			<div class="row mb-4">
				<h4>مدیرها</h4>
				<div class="table-responsive">
					<table class="table table-bordered table-hover table-striped" id="admin-table">
						<thead>
							<tr>
								<th>شناسه</th>
                                 <th>نام</th>
								<th>نام خانوادگی</th>
								<th>نام کاربری</th>
								<th>ایمیل</th>
								<th>موجودی</th>
								<th>عملیات</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var admin in @Model.Admin)
							{
								<tr>
									<td><input type="checkbox"></td>
									<td>@admin.Id</td>
									@*                                     <td><img style="border-radius: 50%" src="@(string.IsNullOrEmpty(admin.ApplicationUser.ProfileImageUrl) ?  "~/userassets/img/1.png" : admin.ApplicationUser.ProfileImageUrl)" width="80" height="80" /></td>
 *@                                    <td>@admin.FirstName</td>
									<td>@admin.LastName</td>
									<td>@admin.ApplicationUser.UserName</td>
									<td>@admin.ApplicationUser.Email</td>
									<td>@admin.Wallet</td>
									<td>
										<a asp-page="AdminUp" asp-route-id="@admin.Id" class="btn btn-info">ویرایش</a>
										<a asp-page="DeleteUser" asp-route-id="@admin.Id" asp-route-userType="Admin" class="btn btn-danger">حذف</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>

			<div class="row mb-4">
				<h4>مشتریان</h4>
				<div class="table-responsive">
					<table class="table table-bordered table-hover table-striped" id="customer-table">
						<thead>
							<tr>
 								<th>شناسه</th>
 								<th>نام</th>
								<th>نام خانوادگی</th>
								<th>نام کاربری</th>
								<th>ایمیل</th>
								<th>موجودی</th>
								<th>عملیات</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var customer in @Model.Customer)
							{
								<tr>
 									<td>@customer.Id</td>
 									<td>@customer.FirstName</td>
									<td>@customer.LastName</td>
									<td>@customer.ApplicationUser.UserName</td>
									<td>@customer.ApplicationUser.Email</td>
									<td>@customer.Wallet</td>
									<td>
										<a asp-page="CustomerUp" asp-route-id="@customer.Id" class="btn btn-info">ویرایش</a>
										<a asp-page="DeleteUser" asp-route-id="@customer.Id" asp-route-userType="Customer" class="btn btn-danger">حذف</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>

			<div class="row mb-4">
				<h4>کارشناسان</h4>
				<div class="table-responsive">
					<table class="table table-bordered table-hover table-striped">
						<thead>
							<tr>
								<th>شناسه</th>
								<th>نام</th>
								<th>نام خانوادگی</th>
								<th>نام کاربری</th>
								<th>ایمیل</th>
								<th>موجودی</th>
								<th>عملیات</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var expert in Model.Expert)
							{
								<tr>
									<td>@expert.Id</td>
 									<td>@expert.FirstName</td>
									<td>@expert.LastName</td>
									<td>@expert.ApplicationUser.UserName</td>
									<td>@expert.Email</td>
 									<td>@expert.Wallet</td>
							
									<td>
										<a asp-page="ExpertUp" asp-route-id="@expert.Id" class="btn btn-info">ویرایش</a>
										<a asp-page="DeleteUser" asp-route-id="@expert.Id" asp-route-userType="Expert" class="btn btn-danger">حذف</a>
										


									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script src="~/AdminTemplate/plugins/data-table/js/jquery.dataTables.min.js"></script>
	<script src="~/AdminTemplate/js/pages/datatable.js"></script>
}
